@media screen and (min-width: 768px) {
body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden; /* 横スクロールを制限 */
    background-color: #1c1b1b;
  }
  
  .logo {
    display: block;
    position: absolute;
    top: 15px;
    left: 30%;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  header {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 2; /* ヘッダーのスタッキングコンテキストを変更 */
    background-color: #212222cf;
    padding: 10px;
    width: 100vw;
    height: 60px;
  }
  
  .navbar {
    transform: translateX(-50%);
    position: absolute;
    left: 60%;
    position: absolute;
    top: 15px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    border-radius: 70px;
    background-color: #1c1b1b;
    color: rgb(255, 248, 248);
  }
  
.Form1 {
    transform: translateX(-50%);
    position: absolute;
    top: 600%;
    left: 50%;  
}

  
.footerf {
  transform: translateX(-50%);
  background-color:#000000;
  width: 100px;
  height: 300px;
  position: absolute;
  top: 2000px;
  left: 50%;  
  }

.footerf {
  transform: translateX(-50%);
  background-color:#000000;
  position: absolute;
  top: 2000px;
  left: 50%;  
}

.footerf {
background-color: #020202;
width: 100%;
color: white; 
}
.footerf a {
  color: white;
}
.footerf div {
transform: translateX(-50%);
position: absolute;
top: 25%;
left: 70%;  
}
.footerf img {
transform: translateX(-50%);
position: absolute;
top: 35%;
left: 200px; 
height: 100px;
border-radius: 50%;
overflow: hidden;
}
}

@media screen and (max-width: 767px){
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden; /* 横スクロールを制限 */
    background-color: #1c1b1b;
  }
  
  .logo {
    position: absolute;
    top: 15px;
    left: 1%;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: none;
  }
  
  header {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 2; /* ヘッダーのスタッキングコンテキストを変更 */
    background-color: #212222cf;
    padding: 10px;
    width: 100vw;
    height: 60px;
  }
  
  .navbar {
    transform: translateX(-50%);
    position: absolute;
    left: 40%;
    position: absolute;
    top: 15px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    border-radius: 70px;
    background-color: #1c1b1b;
    color: rgb(255, 248, 248);
  }
  .footer p {
    color: white;
    }
    .footerf a {
      color: white;
    }
    
    
    .footerf {
    transform: translateX(-50%);
    background-color:#000000;
    width: 100px;
    height: 200px;
    position: absolute;
    top: 2050px;
    left: 50%;  
    }
    
    .footerf {
    background-color: #020202;
    width: 100%;
    color: white; 
    }
    .footerf div {
    transform: translateX(-50%);
    position: absolute;
    top: 10%;
    left: 70%;  
    }
    .footerf img {
    transform: translateX(-50%);
    position: absolute;
    top: 25%;
    left: 100px; 
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    }
}
